[submodule "zshrc"]
	path = zshrc
	url = git@github.com:kumkee/zshrc.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:kumkee/tmux_config.git
[submodule "completion"]
	path = completion
	url = git@github.com:kumkee/.completion.git
[submodule "awesome"]
	path = awesome
	url = git@github.com:kumkee/awesome_conf.git
[submodule "ssh"]
	path = ssh
	url = git@github.com:kumkee/.ssh.git
[submodule "xfce4"]
	path = xfce4
	url = git@github.com:kumkee/xfce4-terminal_config.git
[submodule "home-manager"]
	path = home-manager
	url = git@github.com:kumkee/home-manager_conf.git
