[submodule "nvim/lua/custom"]
	path = nvim/lua/custom
	url = git@github.com:kumkee/nvchad_config.git
[submodule "zshrc"]
	path = zshrc
	url = git@github.com:kumkee/zshrc.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:kumkee/tmux_config.git
[submodule "completion"]
	path = completion
	url = git@github.com:kumkee/.completion.git
[submodule "awesome"]
	path = awesome
	url = git@github.com:kumkee/awesome_conf.git
[submodule "ssh"]
	path = ssh
	url = git@github.com:kumkee/.ssh.git
