[submodule "nvim/lua/custom"]
	path = nvim/lua/custom
	url = git@github.com:kumkee/nvchad_config.git
[submodule "zshrc"]
	path = zshrc
	url = git@github.com:kumkee/zshrc.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:kumkee/tmux_config.git
